.fixed-firts-line{
	position: fixed;
    width: 24.5%;
}
._fix-borders{
    border-bottom: 1px solid #00000026;
}
.ask-butt-que{
	display: block;
    text-align: center;
    padding: 6px 0px 6px 0px;
    background: #2b4065;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    color: #ffffffdb;
    position: relative;
    top: 4px;
}
.ask-butt-que:hover{
	background: #1a467d;
}
.que-count-text{
	font-size: 12px;
    color: #555;
    position: relative;
    top: -4px;
}
.hre-left-menu-soc{
	display: block;
    width: 50%;
    text-align: left;
    padding: 8px 10px 8px 10px;
    color: #555;
    margin: 8px 0px 8px 0px;
    border-left: 2px solid #0000001f;
}
.hre-left-menu-soc:hover{
	border-left: 2px solid #2baebf;
	background: #0b358205;
}
.soc-cions-left{
	background-size: 16px;
    width: 16px;
    height: 16px;
    position: relative;
    top: 4px;
    right: 4px;
}
.div-this-line{
	border-bottom: 1px solid #00000026;
    width: 150px;
    margin: 20px 20px 20px 0px;
}
.box-tags-search-que{
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 6px;
    background-color: #0019460f;
    display: inline-flex;
    overflow-y: hidden;
    height: 60px;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}
._span_tags-que{
    padding: 4px 10px 4px 10px;
    background-color: #2baebf1a;
    color: #555;
    border: 2px solid #2baebf6b;
    border-radius: 6px;
    margin: 2px 4px 2px 4px;
    display: inline-flex;
    font-size: 12px;
    height: 28px;
}
._span_tags-que-hover:hover{
    background-color: #2baebf52;
}
._span_tags-que-hove_border{
    border: 2px solid #b2201473;
}
.box-tags-search-que::-webkit-scrollbar {
    height: 6px;
}
.box-tags-search-que::-webkit-scrollbar-thumb {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.box-tags-search-que::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.3);
}
.filter-org-d{
	display: inline-block;
    padding: 6px 10px 6px 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.filter-org-d:hover{
	background: #0000000d;
}
.href-que-list{
	color: #126993;
	display: block;
    line-break: anywhere;
    word-break: break-word;
}
.href-que-list:hover{
	color: #218cd9;
}
.line-middle{
	margin: 6px 10px 6px 10px;
    display: inline-block;
    font-size: 12px;
}
.view_que_{
	background-image: url(/control/template/media/svg/view.svg);
    background-size: 16px;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}
.bett-line-span{
	background: #ddd;
    width: 1px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 4px;
    margin: 0px 6px 0px 6px;
}
.avatar-pic-init-que-li{
	background-size: 32px;
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    top: 10px;
    left: -4px;
}
._href_go_prof-intlist{
	display: inline-block;
    padding: 0px 12px 12px 12px;
    border-radius: 6px;
    font-size: 14px;
}
._href_go_prof-intlist:hover{
	background: #0000000f;
}
._ThiList{
	display: block;
	padding: 8px;
	border-bottom: 1px solid #ddd6;
}
.img0civon-que{
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: inline-block;
    background-color: #1e869f;
    border-radius: 50px;
    position: relative;
    top: 0px;
    left: 8px;
}
.href-que-name{
    font-size: 14px;
    padding: 4px 8px 4px 8px;
    position: relative;
    top: -10px;
    left: 4px;
}
._hovering-ahrefQUe{
    transition: 0.2s;
}
._hovering-ahrefQUe:hover{
    background: #ebebeb;
}
._href_ask_into_que{
    float: right;
    padding: 8px 12px 8px 12px;
    width: 100px;
    background: #2063b6;
    color: white;
    margin: 6px 10px 6px 10px;
    border-radius: 6px;
    text-align: center;
}
._href_ask_into_que:hover{
    background: #1a467d;
}
.bg_img_que_view{
    height: 200px;
    cursor: pointer;
    border: 1px solid #ddd;
}
#image_show_id{
    position: fixed;
    background: black;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 50;
    overflow: hidden;
    display: none;
}
.closeIco_IMG{
    background-image: url(/control/template/media/svg/close-img.svg);
    background-size: 22px;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 12px;
    display: block;
    right: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border-radius: 50px;
    cursor: pointer;
}
#height_show_img{
    height: 100%;
}
.h2_answers_header{
    border-bottom: 2px solid #2baebf;
    background: #2d2d2d0d;
    padding: 4px 8px 4px 8px;
    border-radius: 6px 6px 0px 0px;
    color: #555;
}
._border_asnwers_q_a{
    border: 1px solid #2b406530;
    padding: 8px;
}
.reply_class{
    border: 1px solid #ddd;
    width: 100%;
    padding: 8px 70px 8px 10px;
    border-radius: 5px;
    color: #555;
    transition: 0.3s;
}
.reply_class:focus{
    box-shadow: -1px 2px 6px #2b406526;
}
.reply_butt{
    position: absolute;
    right: 6px;
    top: 5px;
    border: 0;
    padding: 4px 12px 4px 12px;
    font-size: 14px;
    border-radius: 6px;
    background: #2e7aff;
    color: #ffffffc4;
}
.reply_butt:active{
    background: #1e4790;
}
.style_pos_bor_rep{
    background: #2baebf14;
    border-radius: 6px;
    border: 1px solid #ddd6;
    position: relative;
}
.replied_text{
    background: white;
    padding: 6px 28px 6px 8px;
    border: 1px solid #ddddddad;
    margin: 4px 2px 4px 2px;
    width: 100%;
    color: #555;
    line-break: anywhere;
    word-break: break-word;
}
.href-rep-name{
    font-size: 12px;
    color: #555;
    font-weight: bold;
    text-decoration: underline;
}
.more_butt_edit{
    background-image: url(/control/template/media/svg/more.svg);
    position: absolute;
    background-size: 24px;
    width: 20px;
    height: 32px;
    right: 0;
    top: 29px;
    background-color: #00000014;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    cursor: pointer;
}
.more_butt_edit:hover{
    background-color: #00000036;
}
._mini_bg_rep{
    position: absolute;
    right: 25px;
    bottom: 4px;
    z-index: 10;
    background: white;
    border: 1px solid #ddd;
    box-shadow: -2px 4px 5px #00000026;
}
.textsInminiG{
    display: block;
    padding: 4px 16px 4px 16px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.textsInminiG:hover{
    background: #1a4b6e14;
}
.textsInminiGNona{
    display: block;
    padding: 4px 16px 4px 16px;
    text-align: center;
    font-size: 14px;
    color: #777;
}
.style_more_border-tools{
    background: #00000005;
    border: 1px solid #ddd;
    border-left: 1px solid #dddddd8c;
    position: relative;
}
.trueing_tool_que{
    background-size: 32px;
    width: 80%;
    height: 42px;
    display: inline-block;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    background-color: #0000000d;
    margin-top: 4px;
    border-radius: 6px;
}
.trueing_tool_que:hover{
    background-color: #0000001c;
}
.istruedYeNo_que{
    position: absolute;
    font-size: 12px;
    top: -20px;
    width: 150px;
    background: #373737;
    color: #fff;
    right: 58px;
    border-radius: 6px;
    padding: 4px 8px 4px 8px;
}
.small_true_icon{
    background-image: url(/control/template/media/svg/trued.svg);
    background-size: 14px;
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 8px;
    background-color: #05b18314;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    border: 1px solid #ddd;
}
.update-que-user{
    background: #00000014;
    padding: 8px 14px 8px 14px;
    display: inline-block;
    margin-left: 8px;
    border-radius: 0px 8px 8px 0px;
    color: #2b4065;
    border-left: 2px solid #2b4065;
}
.update-que-user:hover{
    background: #00000036;
}
.updated-text-ti{
    padding: 8px 12px 8px 12px;
    background: #e4e4e4;
    margin: 8px 0px 8px 0px;
    border-left: 2px solid #2b4065;
}
.box_copy_butt{
    border: 0;
    padding: 2px 16px 2px 16px;
    margin: 4px 0px 4px 0px;
    border-radius: 8px;
    background: #2e76a1;
    color: white;
}
.box_copy_butt:hover{
    opacity: 0.8;
}
.box_copy_butt:active{
    background: #204e69;
}
._voting_butt{
    position: absolute;
    bottom: 3px;
    font-weight: bold;
    left: 0;
    right: 0;
    overflow: hidden;
    color: #4d6084;
    font-size: 10px;
}
._found_tags{
    background: #4fafc00d;
    border: 1px solid #4fafc04f;
    border-radius: 11px;
    height: 34px;
}
._no_found_tags{
    padding: 0px 8px 0px 8px;
    position: relative;
    top: 4px;
}