.__CodingFont::selection {
    background: #ffffff0f; 
}
.__CodingFont::-moz-selection { 
    background: #ffffff0f; 
}
._pre_code{
    margin: 6px;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: auto;
    overflow: auto;
    padding: 2px;
    resize: vertical;
    border: 0;
    position: relative;
    height: 300px;
}
._pre_code::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
._pre_code::-webkit-scrollbar-thumb {
    background: #555555;
}
._pre_code::-webkit-scrollbar-track {
    background: #555555;
}
._mainLines{
    display: flex;
    float: left;
    background-color: #2d2d2d;
    color: #ffffff59;
}
._botCline{
    position: absolute;
    top: 15px;
    left: 0;
}
.span_line_{
    display: inline-block;
    float: left;
    width: 40px;
    text-align: center;
}
.span_line_:nth-child(odd) {
    background: #ffffff14;
}
.span_line_:nth-child(even) {
    background: #ffffff30;
}
.justLamng_{
    display: inline-block;
    background: #2d2d2d;
    color: #fff;
    padding: 2px 10px 2px 10px;
    border-radius: 50px;
    font-size: 14px;
}
._main-blockingPage{
    max-width: 1000px;
    margin: 100px auto 8px auto;
}
.bg_underBlock{
    padding: 22px;
    background-color: white;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ddd;
}
.fix_home{
    margin: 12px auto 12px auto;
    max-width: 1400px;
}
.bg_home_toola{
    background: #ffffff;
    height: 300px;
    margin: 0px 6px 0px 6px;
    border: 1px solid #d0d0d078;
    border-radius: 6px;
    box-shadow: -2px 2px 7px 1px #00000017;
}
.input_tags{
    width: 100%;
    padding: 4px 12px 4px 12px;
    border-radius: 6px;
    border: 2px dashed #00000017;
    color: #555;
    transition: 0.3s;
}
.input_tags:focus{
    border: 2px dashed #00194657;
}
.box-tags-search{
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    background-color: #0019460f;
}
._DarkBlueHH{background: #001946;}
._DarkBlueHH:hover{background: #1f4384;}
._motto_bg{
    background-image: url(/control/template/media/png/motto.png);
    display: inline-block;
    background-size: contain;
    width: -webkit-fill-available;
    height: 350px;
    background-repeat: no-repeat;
}
.an_box_intro{
    padding: 8px;
    height: 100%;
    margin: 0 auto;
    max-width: 550px;
}
.menu_center_prog{
    display: block;
    color: #ffffff94;
    font-weight: bold;
    padding: 12px;
    background: #ffffff1a;
    margin: 6px 0px 6px 0px;
    border-radius: 12px;
    transition: 0.3s
}
.menu_center_prog:hover{
    background: #ffffff38;
}
._zhinma_icon{
    background-image: url(/control/template/media/png/zhinma_face.png);
    background-size: 18px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    position: relative;
    top: 4px;
}
.fix-three-boxes{
    margin: 6px auto 6px auto;
    max-width: 700px;
    box-shadow: -2px 4px 8px 2px #00000040;
    border-radius: 8px;
}
.insideBox-three{
    padding: 12px;
    margin: 6px 2px 6px 2px;
    background: white;
}
._similarThreeIcons{
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 20px;
    height: 20px;
    width: 26px;
    position: relative;
    top: 4px;
}
._TagsIcon{
    background-image: url(/control/template/media/svg/tag.svg);
}
._ReviewIcon{
    background-image: url(/control/template/media/svg/review.svg);
}
._RocketIcon{
    background-image: url(/control/template/media/svg/rocket.svg);
}
._span_tags{
    padding: 6px 12px 6px 12px;
    background-color: #2baebf1a;
    color: #555;
    border: 2px solid #2baebf6b;
    border-radius: 6px;
    margin: 2px 4px 2px 4px;
    display: inline-block;
    cursor: pointer;
}
._span_tags:hover{
    background-color: #2baebf52;
}
._bg_icon_delete{
    background-image: url(/control/template/media/svg/delete.svg);
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 18px;
    width: 18px;
    height: 16px;
    position: relative;
    top: 2px;
    left: 4px;
}
.zhinma_bg{
    background:linear-gradient(201deg,rgba(255,160,0,1) 0,rgba(0,110,94,1) 100%);
}
.line_line_bg{
    background-image: url(/control/template/media/png/line_lines.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;
}
.zhinma_logo_{
    background-image: url(/control/template/media/svg/zhinma_logo.svg);
    background-repeat: no-repeat;
    background-size: 120px;
    width: 150px;
    height: 40px;
    display: inline-block;
    background-color: white;
    background-position: center 3px;
    border-radius: 60px;
    position: relative;
    top: 12px;
    left: 10px;
}
.list-services-icons{
    background-size: 24px;
    width: 40px;
    height: 40px;
    margin: 4px 10px 4px 10px;
    border: 2px solid #fff;
    background-position: center;
    border-radius: 50px;
}
._enrollButt{
    background-color:transparent;color:#fff;
    padding:10px 18px 10px 18px;
    font-weight:700;border-radius:50px;
    display: inline-block;
    margin-bottom: 12px;
    border:1px solid #fff;
    transition:.3s;
}
._enrollButt:hover{
    background-color:#056f5c70
}
._Padd30TopBott{
    padding: 60px 0px 60px 0px;
}
.cup-score-logo{
    background-image: url(/control/template/media/svg/stairs.svg);
    background-size: 250px;
    width: 250px;
    height: 180px;
}
.coins-logo{
    background-image: url(/control/template/media/svg/coins.svg);
    background-size: 180px;
    width: 180px;
    height: 180px;
}
._learnmoreofadex_:hover{
    background: #fff;
}
/** No-Ads **/
.a_image_no_ads385x750{
    background-image: url(/control/template/media/jpg/ads/all_ads.jpg);
    display: block;
    width: 250px;
    height: 490px;
    background-size: 755px;
}
.a_image_no_ads750x150{
    background-image: url(/control/template/media/jpg/ads/all_ads.jpg);
    display: block;
    width: 100%;
    height: 62px;
    background-size: 470px;
    background-repeat: no-repeat;
}
/** No-Ads **/
/** Ads **/
.a_image_ads385x750{
    display: block;
    width: 250px;
    height: 490px;
    background-size: 252px;
}
.a_image_ads750x150{
    display: block;
    width: 100%;
    height: 62px;
    background-size: 310px;
    background-repeat: no-repeat;
    background-position: center;
}
/** Ads **/
.bg_hite_rotated{
    background: #ffffff26;
    width: 100%;
    height: 100%;
}
.not-confirmed{
    color: #555;
    padding: 4px 6px 4px 6px;
}
.inp-code-confirm{
    padding: 4px 8px 3px 12px;
    font-size: 12px;
    color: #555;
    border-radius: 4px;
    width: 140px;
    margin: 0px 10px 0px 10px;
    border: 1px solid #ddd;
}
.inp-code-confirm:focus{
    border: 1px solid #2b4065;
}
._butt_confirm_code{
    font-size: 12px;
    padding: 4px 12px 3px 12px;
    border-radius: 50px;
    background: #343c41;
    color: #fff;
    border: 0;
}
._butt_confirm_code:hover{
    background: #343c41e8;
}
._page_nn{
    display: inline-block;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 2px;
    background: #343c41;
}
.href_Loadpages{
    padding: 6px 12px 6px 12px;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
}
._page_nn_que{
    display: inline-block;
    margin-top: 8px;
    border: 1px solid #2b406559;
    border-radius: 6px;
    padding: 2px;
}
.href_Loadpages_que{
    padding: 6px 12px 6px 12px;
    display: inline-block;
    border-radius: 4px;
    color: #555;
}
.hre-search-user{
    background-size: 42px;
    height: 50px;
    display: inline-block;
    padding-top: 14px;
    padding-left: 60px;
    color: #555;
    font-weight: bold;
    background-repeat: no-repeat;
    margin: 0px 6px 0px 6px;
    width: initial;
    padding-right: 12px;
    background-position: 6px center;
    border-radius: 6px;
}
.hre-search-user:hover{
    background-color: #0000001f;
}
.fix-belw-suppPage{
    padding: 20px;
    margin: 0 auto;
    max-width: 500px;
}
.supportd_icons{
    display: block;
    background-size: 60px;
    width: 100%;
    height: 100px;
    background-color: #fff;
    margin: 8px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    border-top: 8px solid #2B4065;
    box-shadow: -1px 6px 8px 2px #0000001a;
}
.bg-below-contact{
    background: #2B4065;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
}
.fix-blowed-von{
    margin: 0 auto;
    max-width: 1000px;
    padding: 12px;
}
.inp-supp-c0{
    display: block;
    width: 100%;
    padding: 14px 10px 14px 10px;
    background: #0003;
    color: #fff;
    border: 2px solid transparent;
    border-bottom: 1px solid #ffffff08;
}
.inp-supp-c0:nth-child(5){
    border-bottom: 1px solid #fff0;
}
.inp-supp-c0:focus{
    border: 2px solid #2baebf36;
}
.inp-supp-c0::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff4d;
  opacity: 1; /* Firefox */
}
.inp-supp-c0:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff4d;
}
.inp-supp-c0::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffffff4d;
}
.are-supp-c0{
    display: block;
    padding: 14px 10px 14px 10px;
    width: 100%;
    background: #0003;
    color: #fff;
    resize: vertical;
    border: 2px solid transparent;
    border-bottom: 1px solid #ffffff08;
    height: 200px;
}
.are-supp-c0:focus{
    border: 2px solid #2baebf36;
}
.are-supp-c0::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff4d;
  opacity: 1; /* Firefox */
}
.are-supp-c0:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff4d;
}
.are-supp-c0::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffffff4d;
}
.submit-supp-c0{
    display: block;
    width: 100%;
    padding: 8px 4px 8px 4px;
    background: white;
    color: #555;
    font-weight: bold;
}
.submit-supp-c0:hover{
    background: #ffffff8c;
}
.email_supp_icc{
    background-image: url(/control/template/media/svg/email.svg);
    background-size: 22px;
    display: inline-block;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    position: relative;
    top: 10px;
}
.lamp_png{
    background-image: url(/control/template/media/png/lamp.png);
    display: block;
    width: 300px;
    height: 250px;
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: center;
}
.veriied-icon_support{
    background-image: url(/control/template/media/svg/verified_support.svg);
    width: 80px;
    height: 80px;
    background-size: 80px;
    display: inline-block;
}
.upload_doc{
    margin: 0px 8px 14px 14px;
    display: inline-block;
    padding: 6px 22px 6px 22px;
    background: white;
    border-radius: 6px;
    color: #555;
    font-weight: bold;
    border: 1px solid #ddd;
}
.upload_doc:hover{
    background: #f2f2f2;
}
.sn-req_suppDOC{
    border: 0;
    float: right;
    margin: 6px;
    padding: 6px 22px 6px 22px;
    display: inline-block;
    border-radius: 6px;
    background: #2b4065;
    color: #ffffff9e;
    font-weight: bold;
}
.sn-req_suppDOC:hover{
    background: #32528a;
}
._supporting_error{
    text-align: center;
    background: white;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 8px;
    color: #a02e2e;
    font-weight: bold;
    margin-top: 12px;
}
._supporting_error:empty{
    display: none;
}
.erbil-image{
    background-image: url(/control/template/media/jpg/erbil.jpg);
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    height: 250px;
    display: block;
    background-size: cover;
    background-position-y: -530px;
    z-index: -1;
}
.duhok-image{
    background-image: url(/control/template/media/jpg/duhok.jpg);
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    height: 150px;
    display: block;
    background-size: cover;
    background-position-y: -500px;
    z-index: -1;
}
.slemani-image{
    background-image: url(/control/template/media/jpg/slemani_two.jpg);
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    height: 500px;
    display: block;
    background-size: cover;
    background-position-y: -250px;
    z-index: -1;
}
.support_container {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 14px;
}
.support_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.support_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #00194640;
    border-radius: 100%;
}
.support_container:hover input ~ .support_checkmark {
  background-color: #2b4065;
}
.support_container input:checked ~ .support_checkmark {
    background-color: #ffffff;
}
.support_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.support_container input:checked ~ .support_checkmark:after {
  display: block;
}
.support_container .support_checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
}
.section-max-w{
    margin: 12px auto 12px auto;
    max-width: 1500px;
    padding: 12px;
    background: #826b4208;
    border: 1px solid #8268410f;
    border-radius: 6px;
}
._sec_main_t{
    border-bottom: 1px solid #00000014;
    margin: 8px 0 8px 0;
    color: #2b4065;
}
.rwandz-image{
    background-image: url(/control/template/media/jpg/rwandz.jpg);
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    height: 250px;
    display: block;
    background-size: cover;
    background-position-y: -180px;
    z-index: -1;
}
.padd_mar_to{
    padding-bottom: 250px;
}
.frame_digital{
    position: absolute;
    z-index: -10;
    margin: 10px 0px 0px 0px;
    top: -10px;
}
.fin_supp{
    background: #223351;
    color: #ffffff3d;
    padding: 8px 12px 8px 12px;
    border-bottom: 1px solid #ffffff0a;
    font-size: 12px;
}
.kurdistan_map{
    background-image: url(/control/template/media/png/kurdistan_map.png);
    background-size: 500px;
    display: block;
    width: 100%;
    height: 420px;
    background-repeat: no-repeat;
    background-position-x: right;
}
.first_texty{
    padding-top: 150px;
    border-bottom: 4px solid #ffbe2f;
}
.texty_und{
    white-space: pre-line;
    line-height: 40px;
    color: #555;
    margin-top: 20px;
}
.learn_more_zh_{
    background-image: url(/control/template/media/png/zhinma_mobile.png);
}
.href-protfl{
    display: inline-block;
    margin: 0px 12px 0px 12px;
    border: 1px solid #dddddd7a;
    border-radius: 12px;
    padding: 12px;
    width: 350px;
    background: white;
    transition: 0.3s;
}
.href-protfl:hover{
    border: 1px solid #001a4752;
}
._img_porfl_ab{
    background-size: 150px;
    width: 150px;
    height: 150px;
    display: block;
    border: 2px solid #2b4065;
    border-radius: 500px;
    background-position: center;
}
._select_ranges{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    margin: 8px 4px 8px 4px;
}
.v_all_b_h_on_li{
    display: inline-block;
    width: 200px;
    background: #6c757d;
    padding: 10px 8px 9px 8px;
    border-radius: 100px;
    color: #fff;
    margin-top: 18px;
}
.v_all_b_h_on_li:hover{
    opacity: 0.7;
}
.max-width-home-did-pn{
    margin: 0 auto;
    max-width: 1100px;
    padding: 16px 8px 16px 8px;
}
.pic_did_pn_style{
    background-size: 80px;
    width: 80px;
    height: 80px;
    display: inline-block;
    background-repeat: no-repeat;
}
.class_bg-di-p{
    margin: 0px 8px 0px 8px;
    border-radius: 18px;
    padding: 14px 10px 14px 10px;
    background: white;
}
.text_did_pn{
    margin: 8px 0 0 0;
    font-size: 22px;
    color: #444;
}
.by_did_pn{
    display: block;
    border: 0;
    color: #fff;
    padding: 6px 12px 6px 12px;
    border-radius: 8px;
}
.by_did_pn:hover{
    opacity: 0.5;
}